@import url("https://fonts.googleapis.com/css2?family=Rubik:wght@400;500;700&display=swap");

html,
body,
#root,
.app {
  height: 100%;
  width: 100%;
  font-family: "Rubik", sans-serif;
  /* overflow-y: hidden; */
}

.navtitle{
  font-weight:"bold";
  font-size:"2rem";
}

/* Hide the default scrollbar */
::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar:horizontal {
  height: 8px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #0c0c0c;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #179c1b;
  border-radius: 4px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #1dbd22;
}